.divContainer{
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    padding: 25px;
   background: none;
}

body{
    color: white;
}

img{
    margin: 0;
}

.divIzquierdoContainer{
    width: 40%;
    background-color: black;
    display: grid;
    height: 400px;

}

.divIzquierdoContainer p{
    margin: 5px;

}

.divDerechoContainer{
    width: 40%;
    display: flex;
    height: 400px;
    justify-content: center;

}

.divIzquierdo{
    width: 50%;
    height: 400px;
    justify-content: center;
    background: red;
    display: grid;

}

.divDerecho{
    width: 50%;
    height: 400px;
    justify-content: center;
    background: blue;
    display: grid;
}

.divDerecho p{
    margin: 5px;
}

